accelerate==0.24.1
aiohttp==3.8.6
aiosignal==1.3.1
annotated-types==0.6.0
anyio==3.7.1
async-timeout==4.0.3
attrs==23.1.0
backoff==2.2.1
bcrypt==4.0.1
beautifulsoup4==4.12.2
blinker==1.7.0
blis==0.7.11
boto3==1.28.78
botocore==1.31.78
bpemb==0.3.4
cachetools==5.3.2
catalogue==2.0.10
certifi==2023.7.22
chardet==5.2.0
charset-normalizer==3.3.2
chroma-hnswlib==0.7.3
chromadb==0.4.15
click==8.1.7
cloudpathlib==0.16.0
coloredlogs==15.0.1
confection==0.1.3
conllu==4.5.3
contourpy==1.2.0
cycler==0.12.1
cymem==2.0.8
dataclasses-json==0.6.1
deep-translator==1.11.4
Deprecated==1.2.14
exceptiongroup==1.1.3
fastapi==0.104.1
filelock==3.13.1
flair==0.13.0
Flask==3.0.0
Flask-Cors==4.0.0
Flask-SQLAlchemy==3.1.1
flatbuffers==23.5.26
fonttools==4.44.0
fr-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-3.7.0/fr_core_news_sm-3.7.0-py3-none-any.whl#sha256=37e9f1f6a278a5138fabdabcc92cc559da917f9b24c76f0adf6758720d7eab10
frozenlist==1.4.0
fsspec==2023.10.0
ftfy==6.1.1
gdown==4.7.1
gensim==4.3.2
gevent==23.9.1
google-auth==2.23.4
googleapis-common-protos==1.61.0
greenlet==3.0.1
grpcio==1.59.2
gunicorn==21.2.0
h11==0.14.0
httptools==0.6.1
huggingface-hub==0.17.3
humanfriendly==10.0
idna==3.4
importlib-metadata==6.8.0
importlib-resources==6.1.0
itsdangerous==2.1.2
Janome==0.5.0
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.3.2
jsonpatch==1.33
jsonpointer==2.4
keybert==0.8.3
kiwisolver==1.4.5
kubernetes==28.1.0
langchain==0.0.330
langcodes==3.3.0
langdetect==1.0.9
langsmith==0.0.57
lxml==4.9.3
markdown-it-py==3.0.0
MarkupSafe==2.1.3
marshmallow==3.20.1
matplotlib==3.8.1
mdurl==0.1.2
monotonic==1.6
more-itertools==10.1.0
mpld3==0.5.9
mpmath==1.3.0
multidict==6.0.4
murmurhash==1.0.10
mypy-extensions==1.0.0
networkx==3.2.1
nltk==3.8.1
numpy==1.26.1
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.18.1
nvidia-nvjitlink-cu12==12.3.52
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.2
onnxruntime==1.16.1
opentelemetry-api==1.20.0
opentelemetry-exporter-otlp-proto-common==1.20.0
opentelemetry-exporter-otlp-proto-grpc==1.20.0
opentelemetry-proto==1.20.0
opentelemetry-sdk==1.20.0
opentelemetry-semantic-conventions==0.41b0
overrides==7.4.0
packaging==23.2
pandas==2.1.3
Pillow==10.1.0
posthog==3.0.2
pptree==3.1
preshed==3.0.9
protobuf==4.25.0
psutil==5.9.6
pulsar-client==3.3.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pydantic==2.4.2
pydantic_core==2.10.1
Pygments==2.16.1
pyparsing==3.1.1
PyPika==0.48.9
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.0
pytorch_revgrad==0.2.0
pytz==2023.3.post1
PyYAML==6.0.1
regex==2023.10.3
requests==2.31.0
requests-oauthlib==1.3.1
rich==13.6.0
rsa==4.9
s3transfer==0.7.0
safetensors==0.4.0
schedule==1.2.1
scikit-learn==1.3.2
scipy==1.11.3
segtok==1.5.11
semver==3.0.2
sentence-transformers==2.2.2
sentencepiece==0.1.99
simsimd==3.5.3
six==1.16.0
smart-open==6.4.0
sniffio==1.3.0
soupsieve==2.5
spacy==3.7.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.23
sqlitedict==2.1.0
srsly==2.4.8
starlette==0.27.0
sympy==1.12
tabulate==0.9.0
tenacity==8.2.3
thinc==8.2.1
threadpoolctl==3.2.0
tokenizers==0.14.1
torch==2.1.0
torchvision==0.16.0
tqdm==4.66.1
transformer-smaller-training-vocab==0.3.2
transformers==4.35.0
triton==2.1.0
typer==0.9.0
typing-inspect==0.9.0
typing_extensions==4.8.0
tzdata==2023.3
uritemplate==4.1.1
urllib3==1.26.18
uvicorn==0.24.0
uvloop==0.19.0
wasabi==1.1.2
watchfiles==0.21.0
wcwidth==0.2.9
weasel==0.3.3
websocket-client==1.6.4
websockets==12.0
Werkzeug==3.0.1
Wikipedia-API==0.6.0
wrapt==1.15.0
yarl==1.9.2
zipp==3.17.0
zope.event==5.0
zope.interface==6.1
pyzmq~=25.1.1